  <div>
    <h2>User info</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" ,size:'100x100'%>
    <div class="d-flex justify-content-between bordery">
      <p class="m-0">neme</p>
      <p class="m-0"><%= user.name %></p>
    </div>
    <p class="pt-2">introductin  <%= user.introduction %></p>

    <% if user.id == current_user.id %>
      <%= link_to  edit_user_path(user) do %>
      <p class="btn btn-outline-secondary btn-block fas fa-user-cog" >
      </p>
      <% end %>
    <% end %>
  </div>